{% extends 'food/base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <div class="card-title">
                        Login

                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <label for="user">Username: </label><br>
                            <input type="text" name="username" id="username"><br>
                            <label for="password">Password: </label><br>
                            <input type="password" name="password" id="password"><br>
                            <button>Sign In</button>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>



{% endblock %}